
.control {
  padding: 1rem;
}

input {
  width: 90%;
  padding: 1rem;
  border: 0;
  outline: none;
}

.message-header {
  color: #bd5050;
}

.message-inputs {
  width: 100%;
  margin: 0;
}

.new-submit-btns {
  display: flex;
}

.back, .new-submit {
  padding: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  margin-top: 2rem;
  background: #b44343;
  outline: none;
  border: 0;
  width: 7rem;
  color: black;
  text-align: center;

  &:hover {
    background: black;
    color: #b44343;
  }
}

.input {
  background: #e0a2a2;
}
