body {
  background: #b1b5ba;
}

.section {
  margin: 0;
}

.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  align-items: center;
  margin: 0;
}

.nav-item {
  text-decoration: none;
  //color: #bf2b2b;
  color: white;
  margin: .5rem;
  align-items: center;
  font-size: 1.2rem;
}

.logo {
  max-width: 8rem;
  align-items: center;
}

.is-brand {
  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: none;
  align-items: center;
}
