//@import "bulma";
@import 'newmanuf';
@import 'table';
@import 'carlist';


body {
  background: #132838;
  margin: 0;
}

.section {
  margin: 0 auto;
  max-width: 65rem;
}

.nav {
  background: #262626;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  align-items: center;
  margin: 0;
  overflow: auto;
}

.nav-item {
  text-decoration: none;
  color: white;
  margin: .5rem;
  align-items: center;
  font-size: 1.2rem;
}

.logo {
  max-width: 9rem;
}

.is-brand {
  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    //color: #b44343;
    color: #00d192;
  }
}

p {
  color: #ddd;
}

.media {
  margin-top: 2rem;
}

.media-content {
  border: .2rem solid black;
}

.message-body {
  margin-top: -1rem;
  padding: 2rem;
}

.btn {
  padding: 1rem;
  font-size: 1rem;
  margin-top: 2rem;
  background: #b44343;
  outline: none;

  &:hover {
    background: black;
  }
}

.index-man-btn {
  margin-top: 3rem;
}
