
<nav class="nav">
        <div class="nav-left">
          <img src="./images/shiftlogo.png" alt="" class="nav-item logo">
          <a href="#" class="nav-item is-brand">Razer Cars</a>
        </div>

        <div class="nav-right">
          <a href="/" class="nav-item is-danger is-hovered">
            {{#link-to "index"}}Home{{/link-to}}</a>

          <a href="/manufacturers" class="nav-item is-danger is-hovered">All Manufacturers</a>
          <a href="/manufacturers-new" class="nav-item is-danger is-hovered">Add Manufacturers</a>

        </div>
      </nav>

{{outlet}}
