<div class="section">
  <div class="container">
<figure class="media media-content">
  <div class="message">
<div class="message-header">Ford</div>
</div>
<form class="message-body" {{action "save" on="submit"}}>

  {{#link-to 'manufacturer.car' class="new-btn-pls"}}Edit Manufacturer{{/link-to}}
  <button type="button" class="new-btn-pls">Delete Manufacturer</button>
  <button type="button" class="new-btn-pls">Add New</button>

</form>
</figure>

    <div class="grid">
      <div class="grid__item">
        <figure class="card">
            <div class="card__header">
              <p>Ford</p>
            </div>
            <div class="card__body">
              <p>Horsepower: 350</p>
              <p>Price: $20,000</p>
            </div>
        </figure>
      </div>
    </div>
</div>
</div>


{{outlet}}
