<div class="section">
  <div class="container">
<figure class="media media-content">
  <div class="message">
<div class="message-header">Ford</div>
</div>
<form class="message-body" {{action "save" on="submit"}}>

  <div class="new-submit-btns new-car">
    <button type="submit" value="button" class="new-submit" name="new-submit">Add New Car</button>
  </div>

</form>
</figure>

    <div class="grid">
      <div class="grid__item">
        <figure class="card">
            <div class="card__header">
              <p>Ford</p>
            </div>
            <div class="card__body">
              <p>Horsepower:</p>
              <p>Price:</p>
            </div>
        </figure>
      </div>
    </div>


</div>
</div>


{{outlet}}
