
      <figure class="media media-content">
        <div class="message">
      <div class="message-header">Add New Manufacturer</div>
    </div>
      <form class="message-body" {{action "save" on="submit"}}>
          <div class="message-inputs">
        <div class="control">
          {{input class="input" type="name" value=formValues.name placeholder="Name"}}
        </div>

        <div class="control">
          {{input class="input" type="country" value=formValues.country placeholder="Country"}}
        </div>

      </div>

        <div class="new-submit-btns">
          {{#link-to 'manufacturer' type="button" class="back" name="button"}}Back{{/link-to}}

          <button type="submit" class="new-submit" name="button">Submit</button>
          </div>

      </form>
    </figure>
