
      <figure class="media media-content">
        <div class="message">
      <div class="message-header">Add New Manufacturers</div>
    </div>
      <form class="message-body" {{action "save" on="submit"}}>
          <div class="message-inputs">
        <div class="control">
          {{!-- <input type="text" placeholder="Name"
          value=formValues.brandMake> --}}
          {{input type="name" value=formValues.name placeholder="Name"}}
        </div>

        <div class="control">
          {{!-- <input type="text" placeholder="Country"
          value=formValues.brandCountry> --}}
          {{input type="country" value=formValues.country placeholder="Country"}}
        </div>

      </div>

        <div class="new-submit-btns">
          <button type="button" class="back" name="button">Back</button>

          <button type="submit" value="button" class="new-submit" name="new-submit">Submit</button>
        </div>

      </form>
    </figure>
